{% extends 'cpg/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">
                                   <h1 class="text-white" data-aos="fade-up">All passwords, safe, in one place!</h1>

                              {% if user.is_authenticated %}
                                   <!-- Do nothing!-->
                              {% else %}
                                   <a href="{% url 'register' %}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Register now!</a>
                              {% endif %}

                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="100">

                            <img src="{% static 'cpg/safe.png' %}" class="img-fluid" alt="safe" width="450" height="450">
                          </div>
                        </div>

                    </div>
               </div>
     </section>

     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">
     
                    <div class=" mx-auto col-md-10 col-12">
                         <div style="padding-bottom: 7em;">
     
                              <h2 class="mb-4" data-aos="fade-up">You can keep <strong>all your passwords</strong> in one place & access them anywhere!</h2>
                              <h3 class="mb-4" data-aos="fade-up">Moreover, you can measure your password's strength before using it!</h2>
                              <h3 class="mb-4" data-aos="fade-up">What are you waiting!  <a href="{% url 'register' %}" data-aos-delay="100">Register now!</a></h3>
                         </div>
     
                    </div>
     
               </div>
          </div>
     </section>
{% endblock %}
